*{

     font-family: 'Roboto', Arial, sans-serif; 

}
.header .carlos{
    background-color: #40686A !important;
}


/*NAVBAR*/
.navbar .nav-link{
    font-weight: 650;
    font-size: 20px;

}

.navbar .nav-link:hover{
    color: white;
}

.navbar-toggler {
    width: 60px;
}

.navbar-toggler:hover{
    background-color:  #40686A !important;
}
.logo{
    font-size: 40px !important;
    font-family: "Honk", system-ui;

}

/*HERO*/

.hero{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
     display: flex;
            align-items: center; /* Centra verticalmente */
            justify-content: center; /* Centra horizontalmente */
            color: white;
            position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad según prefieras */
    z-index: 1;
}

.contenido-hero{
        
            position: relative;
            z-index: 2;
            max-width: 500px;
            padding: 30px;
            text-align: center;

}

        .hero h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #eceaea;
        }

        .hero p {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
            color: #eceaea;
        }

        .hero a {
            display: inline-block;
            padding: 10px 20px;
            color: white;
            background-color: #ff5733;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .hero a:hover {
            background-color: #ff8a66;
        }
/*PRODUCTOS*/

.productos{
    display: flex; /*EN ALGUN MOMENTO CAMBIAR POR DISPLAY FLEX Y ORDENAR PARA QUE QUEDE MAS PROLIJO*/
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: center; /* Centra las cards verticalmente en sus celdas */
    justify-items: center; /* Centra las cards horizontalmente en sus celdas */
    justify-content: center;
    height: auto;
   
}
.titulo-productos{
text-align: center;
font-weight: bold;
}

.productos .card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    height: 190px;
    width: 60%;
    flex: 0 1 calc(33.33% - 20px); /* Ajusta el ancho para tres columnas con espacio */


}

.productos .card img{
    max-width: 60px;
    height:130px; 
    object-fit: cover;
    display: block;
    margin: auto;
     transition: transform 0.3s ease; 
}

.productos .card img:hover{

       transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}



/*RESEÑAS*/
.grid-container-res{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;


}

.card-res{
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-res:hover {
    transform: scale(1.05);
}
.img-res{
    width: 400px;
    height: 300px;
    display: block;
}

.nombre-res{
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.boton-res{
    background-color: #915C4C;
}

.boton-res:hover{
    background-color: #915C4C;
}

.titulo-res{  
     align-items: center;
    text-align: center;
    font-weight: bold;
}
/*FORM*/


        .section-contacto{
        background-color: rgb(3, 2, 2);
        height: 90vh;
        }

        .base-contacto{

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

        }

        .prueba {
    display: flex;
    justify-content: center;
}
.titulo-contacto {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    align-items: center;
    text-align: center;
    
}

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            place-items: center;

        }
        .div-contacto{
            max-width: 500px;
            width: 100%;
            padding: 20px;
            background-color:  #40686A;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
               border-radius: 8px;
        }
     

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #fafafa;
        }

        input, textarea, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 20px;
        }

        textarea {
            resize: vertical;
        }

        button {
            background-color:  #fb5435;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color:#be3720;
        }






        /*FOOTER*/


/*Media Querys*/

@media (max-width: 780px) { 
    .productos {
        grid-template-columns: repeat(2, 1fr); 
    }
    .productos .card img{
         max-width: 60px;
           height:100px; 
    }
        .grid-container-res {
        flex-direction: column;
        align-items: center;
    }

    .card-res {
        width: 100%; /* Cada tarjeta ocupa el 100% en pantallas pequeñas */
    }

    .img-res {
        width: 100%; /* Ajusta la imagen al ancho de la tarjeta en pantallas pequeñas */
    }

    .base-contacto{
        padding: 20px;
    }

    .base-contacto input, 
    .base-contacto textarea,
    .base-contacto button{
         font-size: 15px;
         padding: 12px;
    }

}

@media (max-width: 480px) { 
    .productos {
        grid-template-columns: 2fr; 
 
    }

        .productos .card{
                  align-items: stretch;
                min-height: 92px;
        }
        .productos .card img{
         max-width: 60px;
            height: 90px; 
           transform: rotate(90deg);
        }
         .productos .card img:hover{

            transform: rotate(90deg);  
         }

         .productos .titulo-card{
            display: none;
         }

        .base-contacto{
            padding: 10px;
        }

        .base-contacto input, 
        .base-contacto textarea,
        .base-contacto button{
             font-size: 15px;
             padding: 10px;
        }

}
/*
    COLORES PARA UTILIZAR EN LA PAGINA

    MARRONCITO: #B78338

    BORDO:   #915C4C

    CELESTE: #40686A

    MARRON OSCURO: #2F1812





*/